* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100vw;
    height: 100vh;
}
div.music-player {
    /* border: 1px solid black; */
    box-shadow: 2px 2px 4px rgb(138, 133, 133);
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 80%;
    border-radius: 5%;
    margin: 50px auto;
}
div.info {
    /* border: 1px solid red; */
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
div#song {
    margin: 15px 0;
    font-weight: bold;
}
div.cover-container {
    /* border: 1px solid red; */
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
}
div#cover {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url("./assets/cover.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 4px pink, -2px -2px 4px pink;
    animation: playing 30s infinite linear;
}
div.control-button {
    /* border: 1px solid yellow; */
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: rgb(126, 97, 97);
    font-size: large;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 150px;
    border-radius: 50%;
}
div.control {
    /* border: 1px solid blue; */
    display: flex;
    margin: 20px;
    margin-top: 0;
    justify-content: space-between;
}
input#progress-bar {
    width: 70%;
}
input[type=range] {
    -webkit-appearance: none;
    outline: none;
    background-color: pink;
    cursor: pointer;
    height: 10px;
    margin: auto 0;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    border: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 0;
    background-color: rgb(126, 97, 97);
    box-shadow: -100vw 0 0 100vw rgb(126, 97, 97);
}
@keyframes playing {
    to { transform: rotate(360deg); }
}
